@import '../../../../../dist/ngx-cbp-theme/styles/variables';
@import '../../../../../dist/ngx-cbp-theme/styles/theme/header';

@include cbp-ngx-header();

.app-right-nav-items {
  display: flex;

  .cbp-navbar-item {
    cursor: default;
  }
}

.app-stacked-nav {
  background-color: $navbar-default-bg;
  left: 0;
  width: 100%;
  color: $navbar-default-color;
}

.cbp-subtoolbar {
  font-weight: $font-weight-base;
}

.mat-mini-fab {
  width: 30px;
  height: 30px;
  margin-right: 4px;
  position: relative;
  top: 7px;

  .mat-icon {
    padding: 0;
    position: relative;
    bottom: 2px;
  }
}

.mat-flat-button {
  padding: 0px 4px;
  .mat-icon {
    position: relative;
    top: 4px;
  }
}

// cbp-app-main-nav .app-stacked-nav {
//   border-top: 1px solid darken($navbar-default-border, 4%);
// }

// cbp-app-right-nav .app-stacked-nav {
//   border-bottom: 1px solid darken($navbar-default-border, 4%);
// }

.cbp-app-main-nav {
  .mat-tab-link {
    font-size: $font-size-base !important;
    min-width: 120px;
    padding: 0px;
  }
}

.page-header {
  font-size: $font-size-h5;
  font-weight: bold;
}